<div class="combo-details">

  <div class="left">
    <h3> <%= combo.description %></h3>

  </div>

  <div class="right">
    <div class="combo-body">
      <% if (combo.author.equals(user.profile._id)) { %>
      <%- include('../partials/card-input') %>
      <% } %>
    
      <div class="buttons">
      <% if (combo.author.equals(user.profile._id)) { %>
      <a href="/combos/<%= combo._id %>/edit">
        <button class="button-56" role="button">Edit Combo</button>
      </a>
      <% } %>
      
      <% if (combo.author.equals(user.profile._id)) { %>
      <form action="/combos/<%= combo._id %>?_method=DELETE" method="POST">
        <button class="button-49" role="button"> <i class="fa-solid fa-skull fa-2xl"></i> </button>
        
      </form>
      <% } %>
      </div>
        <form 
        id="add-comment-form"
        action="/combos/<%= combo._id %>/comments"
        method="POST">
          <label for="content-textarea">Comment:</label>
          <textarea name="content" id="content-textarea"></textarea>
          <button class="button-56" role="button">Add Comment</button>
        </form>
    
      <% if (combo.comments.length) { %>
        <table>
          <tbody>
            <% combo.comments.forEach(function(comment) { %>
              <tr>
                <td><%= comment.content %></td>
                <td>
                  <% if (combo.author.equals(user.profile._id)) { %>
                  <form action="/combos/<%= combo._id %>/comments/<%= comment._id %>?_method=DELETE" method="POST">
                    <button class="X">x</button>
                  <% } %>  
                  </form>
                </td>
              </tr>
              <% }) %>
          </tbody>
        </table>
      <% } else { %>
        <h3>No Reviews Yet</h3>
      <% } %>
    </div>
  </div>

</div>