<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<main>
  <h1> <%= combo.name %></h1>
  <form id="new-form" action="/combos/<%= combo._id %>?_method=PUT" method="POST">
    
    <label for="name-input">Name:</label>
    <input type="text" value="<%= combo.name %>" name="name" id="name-input">
    
<!-- card input -->

    <label for="description">Description:</label>
    <input type="text" value="<%= combo.description %>" name="description" id="description">

    <button type="submit">Update Combo</button>
  </form>
</main>

<%- include('../partials/footer') %>