<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<main>
  <div class="new-input">
  <h1> <%= combo.name %></h1>
  <form id="new-form" action="/combos/<%= combo._id %>?_method=PUT" method="POST">
    
    <label for="name-input">Combo Name:</label>
    <input type="text" value="<%= combo.name %>" name="name" id="name-input">
    
<!-- card input -->

    <label for="description">Combo Description:</label>
    <input 
    type="text" 
    value="<%= combo.description %>" 
    name="description" 
    id="description">

    <button class="button-56" role="button">Update Card</button>
  </form>
</div>
</main>

<%- include('../partials/footer') %>