<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<ul class="index-list">
  <% combos.forEach(combo => { %>
    <li> 
      <a href="/combos/<%= combo._id %>"><%= combo.name %> </a>
      <div class="card-list-index">
        <% combo.cards.forEach(card => { %>
          <div class="card">
            <img src="<%= card.imageUrl %>">
          </div>
        <% }) %>
      </div>
    </li>
  <% }) %>
</ul>

<%- include('../partials/footer') %>