<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<ul class="index-list">
  <% combos.forEach(combo => { %>
    <li> 
      <a href="/combos/<%= combo._id %>"><%= combo.name %> </a>
      <%#- include('../partials/combo-display') %>
    </li>
  <% }) %>
</ul>

<%- include('../partials/footer') %>

