<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<h2>All the Combos!</h2>
<ul>
  <% combos.forEach(combo => { %>
    <li> 
      <a href="/combos/<%= combo._id %>"><%= combo.name %> </a>
    </li>
  <% }) %>
</ul>

<%- include('../partials/footer') %>