<%- include('../partials/html-head') %>
<!-- <link rel="stylesheet" href="/stylesheets/movies/new.css" /> -->
<%- include('../partials/nav') %>

<main>
  <!-- display combo name -->
  <h1> <%= combo.name %></h1>
  <!-- display cards as a list of names -->
  <h2> <%= combo.description %></h2>
  <!-- view author button -->
  <p>From the Library of <a> <%= combo.author.name %> </a> <img src ="<%= combo.author.avatar %>" alt="pfp not found">  </p> 
  

  <!-- display description -->
  <!-- edit button -->
  <!-- delete button -->
</main>

<%- include("../partials/footer") %>