<%- include('../partials/html-head') %>
<!-- <link rel="stylesheet" href="/stylesheets/combos/new.css" /> -->
<%- include('../partials/nav') %>

<main>
  <h1> <%= combo.name %></h1>
  <!-- display cards as a list of names -->
  <% if (combo.author.equals(user.profile._id)) { %>
  <%- include('../partials/card-input') %>
  <% } %>

  <h2> <%= combo.description %></h2>

  <p>From the Library of <a href="/profiles/<%= combo.author._id %>"> <%= combo.author.name %> </a> </p> 
  
  <% if (combo.author.equals(user.profile._id)) { %>
  <a href="/combos/<%= combo._id %>/edit">
    <button>Edit Combo</button>
  </a>
  <% } %>
  
  <% if (combo.author.equals(user.profile._id)) { %>
  <form action="/combos/<%= combo._id %>?_method=DELETE" method="POST">
    <button class="btn" type="submit">Delete this combo! 💀</button>
  </form>
  <% } %>

  <form 
  id="add-comment-form"
  action="/combos/<%= combo._id %>/comments"
  method="POST">
    <label for="content-textarea">Comment:</label>
    <textarea name="content" id="content-textarea"></textarea>
    <button class="btn" type="submit">Add Comment</button>
  </form>

  <% if (combo.comments.length) { %>
    <table>
      <tbody>
        <% combo.comments.forEach(function(comment) { %>
          <tr>
            <td><%= comment.content %></td>
            <td>
              <form action="/combos/<%= combo._id %>/comments/<%= comment._id %>?_method=DELETE" method="POST">
                <button>X</button>
              </form>
            </td>
          </tr>
          <% }) %>
      </tbody>
    </table>
  <% } else { %>
    <h3>No Reviews Yet</h3>
  <% } %>
</main>

<%- include("../partials/footer") %>