<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<main>
  <div class="combo-name">
    <p>From the Library of <a href="/profiles/<%= combo.author._id %>"> <%= combo.author.name %> </a> </p>
    <h1> <%= combo.name %></h1> 
  </div>

  <%- include('../partials/combo-display') %>

  <%- include('../partials/combo-details') %>



  
</main>

<%- include("../partials/footer") %>